*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(216,12%,8%);
    font-family: 'Overpass', sans-serif;
    margin: 1.5rem;
}

.container .container-thank-you{       
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.thank-you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 418.8px;
    padding: 2rem 1.5rem;    
    border-radius: 1.563rem;
    background-color: hsl(213, 19%, 18%);    
    max-width: 400px;
}

.thank-you img{
    margin-top: -10px;
    width: 162px;
    height: 108px;    
}

.thank-you p{
    margin: 10px 0;
    text-align: center;
    font-size: 0.9rem;
    color: hsl(217, 12%, 63%);
}

.thank-you h2 {
    margin: 30px 0;
    padding: 3px 20px;
    color: hsl(25, 97%, 53%);
    font-size: 1rem;
    background-color: hsl(217, 21%, 22%);
    border-radius: 15px;
}

.hide{
    display: none;
}

.main-container{
    padding: 2rem 1.5rem;    
    border-radius: 1.563rem;
    background-color: hsl(213, 19%, 18%);    
    max-width: 400px;    
    
}

.main-container img{     
    padding: 1rem;       
    background-color: hsl(217, 21%, 22%);
    border-radius: 50%;
}

.main-container h1 {    
    text-align: left;  
    margin: 20px 0;
}

.btn-submit{
    text-transform: uppercase;
    width: 100%;
    border: inherit;
    height: 2.75rem;    
    font-weight: 700;
    font-size: 0.9rem;
    border-radius: 30px;
    background-color: hsl(25, 97%, 53%);
    letter-spacing: 2px;
}

.btn-submit:hover{
    cursor: pointer;
    background-color: rgb(233, 174, 108);
    opacity: 0.9;
}

.main-container p {
    text-align: left;  
    margin: 20px 0;
    color: hsl(217, 12%, 63%);
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}

.lista-btn{
    color: hsl(217, 12%, 63%);
    margin: 0.5rem;
    width: 3.125rem;
    height: 3.125rem;    
    background-color: hsl(217, 21%, 22%);
    border: none;
    border-radius: 50%;
}

.lista-btn:focus{
    background-color: hsl(25, 97%, 53%);    
}

.lista-btn:hover{
    color: white;
    cursor: pointer;
    opacity: 0.8;
    background-color:rgb(162, 228, 247) ;
}

.rating {
    color: hsl(25, 97%, 53%);
}

.attribution {
    position: absolute;
    bottom: 0px;
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
